{% extends 'home/common.html.twig' %}
{% block title %}首页{% endblock %}
      {% block main %}
          <div class="cell">
              <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
                  <div class="orbit-wrapper">
                    <div class="orbit-controls">
                      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                    </div>
                    <ul class="orbit-container">
                      <li class="is-active orbit-slide">
                        <figure class="orbit-figure">
                          <img class="orbit-image" src="/public/images/1.jpg" alt="Space">
                          <figcaption class="orbit-caption">Yes</figcaption>
                        </figure>
                      </li>
                      <li class="orbit-slide">
                        <figure class="orbit-figure">
                          <img class="orbit-image" src="/public/images/2.jpg" alt="Space">
                          <figcaption class="orbit-caption">Lets</figcaption>
                        </figure>
                      </li>  
                      <li class="orbit-slide">
                        <figure class="orbit-figure">
                          <img class="orbit-image" src="/public/images/3.jpg" alt="Space">
                          <figcaption class="orbit-caption">Go</figcaption>
                        </figure>
                      </li>                   
                    </ul>
                  </div>
                  <!-- <nav class="orbit-bullets">
                    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
                    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
                  </nav> -->
                </div>
          </div>
          <div class="cell margin-top-1">
              <ul class="tabs" data-tabs id="example-tabs">                  
                  {% for category in album_category %} 
                  <li {% if loop.index == 1%}class="tabs-title is-active"{% else %}class="tabs-title"{% endif %}><a href="#panel{{ loop.index }}" aria-selected="true">{{ category.name }}</a></li>                  
                  {% endfor %}
              </ul>
              <div class="tabs-content" data-tabs-content="example-tabs">
                {% for category in album_category %}
                <div {% if loop.index == 1%}class="tabs-panel is-active"{% else %}class="tabs-panel"{% endif %} id="panel{{ loop.index }}">
                  <div class="grid-x large-up-4 medium-3 ">
                    {% for album in category.album %}
                    <div class="card margin-right-1 ">
                      <div class="card-section">
                        <img src="/uploads/{{ album.thumb }}">
                      </div>
                      <div class="card-section">
                        <p>{{ album.title }}</p>
                        <label class="label">{{ album.getCollectCount() }} 收藏</label>
                        <label class="label">{{ album.getViews() }} 点击</label>
                        <label class="label">{{ album.getCommentCount() }} 评论</label>
                       
                        <div class="media-object  margin-top-1">
                          <div class="media-object-section">
                            <div class="thumbnail">
                              <img src= "{{ album.userid.headimg }}">
                            </div>
                          </div>
                          <div class="media-object-section main-section">
                            {{ album.userid.nickname }} 发表于 {{ album.getCreatedAt()|date('Y-m-d H:i:s')|trans_datetime }} 
                          </div>
                        </div>
                      </div>
                      </div>
                    </div>
                   {% endfor %}
                </div>               
                {% endfor %}
          </div>
</div>
          <div class="cell margin-top-1">
            最新blog
            {% for post in blog %}
            <div class="grid-x shadow padding-1 margin-top-1">
                <div class="cell large-2">
                  <p>
                      <a href="{{ path('blog_detail',{'id':post.id,'title':post.title,'subdomain':post.userid.domain|default('mash')}) }}" title="{{ post.title}}"><img src= "{{ post.thumb }}"></a>
                  </p>
                </div>
                <div class="cell large-10">
                    <h4><a href="{{ path('blog_detail',{'id':post.id,'title':post.title,'subdomain':post.userid.domain|default('mash')}) }}" title="{{ post.title }}">{{ post.title }}</h4>
                    <p class="subheader">
                        <a class="margin-right-1"><span><i class="fi-torso"> {{ post.userid.nickname }}</i>  </span></a>
                        <a class="margin-right-1" href="{{ path('blog_category',{'id':post.category.id,'name':post.category.name,'subdomain':post.userid.domain|default('mash')}) }}"><span><i class="fi-checkbox"> {{ post.category.name }}</i> </span></a>
                        <a class="margin-right-1"><span><i class="fi-calendar"> {{ post.getCreatedAt()|date('Y-m-d H:i:s')}}</i></span></a>
                        <a class="margin-right-1"><span><i class="fi-eye"> {{ post.views }} 阅读</i></span> </a>
                        <a class="margin-right-1"><span><i class="fi-comments"> {{ post.comments|count }} 评论</i></span></a>
                    </p>
                  <p>{{ post.descript }}</p>
                  <p class="float-right">
                      {% for tag in post.tags %}
                      <a class="margin-right-1" href="{{ path('blog_tag',{'id':tag.id,'name':tag.name,'subdomain':post.userid.domain|default('mash')}) }}"><i class="fi-pricetag-multiple"></i> {{ tag.name }}</a>
                      {% endfor %}
                      <a class="margin-left-2" href="{{ path('blog_detail',{'id':post.id,'title':post.title,'subdomain':post.userid.domain|default('mash')}) }}" title="{{ post.title }}">查看详情</a>
                  </p>                 
                </div>
              </div>            
          {% endfor %}
          </div>
          <div class="cell margin-top-1">
            新闻动态
            <div class="grid-x">    
              {% for article in articles %}          
                <div class="cell large-6 medium-6">                    
                    <div class="media-object">
                      <div class="media-object-section">
                        {% if article.thumb %}
                        <a title="{{ article.title }}" href="{{ path('article_detail',{'slug':article.title,'id':article.id}) }}"><img class="thumbnail" src="{{ article.thumb }}" width='100'></a>
                        {% else %}
                        <a title="{{ article.title }}" href="{{ path('article_detail',{'slug':article.title,'id':article.id}) }}"><img class="thumbnail" src="/public/images/100.png"></a>
                        {% endif %}
                      </div>
                      <div class="media-object-section">
                        <h5><a title="{{ article.title }}" href="{{ path('article_detail',{'slug':article.title,'id':article.id}) }}">{{ article.title }}</a></h5>
                        <p>{{ article.descript }}</p>
                      </div>
                    </div>                   
                  </div>
                {% endfor %}                                
            </div>
          </div>
      {% endblock %}
      
