{% extends 'home/common.html.twig' %}
{% block title %}{{ article.title }}{% endblock %}
{% block breadcrumb %}
          <div class="grid-x">
              <nav aria-label="You are here:" role="navigation">
                  <ul class="breadcrumbs">
                    <li><a href="{{ path('home') }}">首页</a></li>
                    <li><a href="{{ path('article_index',{'id':article.category.getId()}) }}">资讯列表</a></li>                     
                    <li>
                      <span class="show-for-sr">Current: </span> {{ article.title }}
                    </li>
                  </ul>
              </nav>  
          </div>
{% endblock %}
{% block main %}
          <div class="grid-x">
            <div class="cell">
              <p class="lead text-center">{{ article.title}}</p>
                {{ article.content|raw }}
            </div>    
            <div class="cell margin-top-3">
                <span class="float-left"><i class="fi-arrow-left"></i> 上一篇
                {% if prev %}
                <a href="{{ path('article_detail',{ 'slug':prev.title,'id':prev.id }) }}"><span class="margin-left-1">{{ prev.title }}</span></a>
                {% else %}
                <span class="margin-left-1">已经是第一篇文章了</span>
                {% endif %}
                </span>
                <span class="float-right">下一篇
                {% if next %}
                <a href="{{ path('article_detail',{ 'slug':next.title,'id':next.id }) }}"><span class="margin-left-1">{{ next.title }}</span></a>
                {% else %}
                <span class="margin-left-1">已经是最后一篇文章了</span>
                {% endif %}
                <i class="fi-arrow-right"></i></span>
            </div>       
          </div>   
       {% endblock %}