{% extends 'home/common.html.twig' %}
{% block title %}网站资讯{% endblock %}
{% block breadcrumb %}
          <div class="grid-x">
              <nav aria-label="You are here:" role="navigation">
                  <ul class="breadcrumbs">
                    <li><a href="{{ path('home') }}">首页</a></li>
                    <li><a href="{{ path('article_index') }}">资讯列表</a></li>                    
                    <li>
                      <span class="show-for-sr">Current: </span>资讯列表
                    </li>
                  </ul>
              </nav>  
          </div>
{% endblock %}
{% block main %}
          <div class="grid-x">            
            <div class="cell large-3 medium-4 margin-top-3  padding-right-1">
                <ul class="vertical menu accordion-menu shadow padding-top-1 padding-bottom-1 article_category" data-accordion-menu>
                    {# <li>
                      <a href="#">分类一</a>
                      <ul class="menu vertical nested">
                        <li><a href="#">分类二</a></li>
                        <li><a href="#">分类三</a></li>
                      </ul>
                    </li> #}
                    {% for category in article_category %}
                    <li {% if category.id == app.request.get('id') %} class="active" {% endif %}><a href="{{ path('article_index',{'id':category.id}) }}">{{ category.name }}</a></li>
                    {% endfor %}
                  </ul>   
            </div>
            <div class="cell large-9 medium-8">                
                <div class="grid-x">
                  <div class="cell">
                      {% for article in pagination %}
                      <div class="media-object">
                          <div class="media-object-section">
                            {% if article.thumb %}
                            <a href="{{ path('article_detail',{ 'slug':article.title,'id':article.id }) }}" target="_blank" title="{{ article.title }}"><img class="thumbnail" src="{{ article.thumb }}" width="108px"></a>
                            {% else %}
                            <a href="{{ path('article_detail',{ 'slug':article.title,'id':article.id }) }}" target="_blank" title="{{ article.title }}" ><img class="thumbnail" src="/public/images/100.png"></a>
                            {% endif %}
                          </div>
                          <div class="media-object-section">                            
                            <p><a href="{{ path('article_detail',{ 'slug':article.title,'id':article.id }) }}" target="_blank" title="{{ article.title }}">{{ article.title }}</a></p>
                          <small>{{ article.descript }}</small>
                          </div>
                      </div>
                     {% endfor %}
                  </div>
                </div>
                {{ knp_pagination_render(pagination) }}
            </div>
          </div>   
 {% endblock %}