{% extends 'home/base.html.twig' %}
{% block title %}用户登陆{% endblock %}
{% block main %}
<!--main-->
<div class="grin-container" style="background: url(/home/images/login-register.jpg) center center/cover no-repeat!important; height: 100%; width:100%;position: fixed;">
    <div class="grid-x" >      
      <div class="cell">
          <div class="callout shadow" style="margin:0 auto;max-width:500px;top:200px;">
              {% if error %}
              <div class="cell">
                  <div class="alert callout" data-closable="slide-out-right">                   
                    <p>{{ error.messageKey|trans(error.messageData,'security') }}</p>                   
                    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              {% endif %}              
              <form method="post" action="{{ path('login') }}">
                <div class="grid-x">
                  <div class="cell">
                    <label>登陆名:                      
                      <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="用户名|email|手机号" />
                    </label>
                    <p class="help-text">请使用用户名、手机号或邮箱登录</p>
                  </div>
                  <div class="cell">
                    <label>密码:
                      <input type="password" placeholder="密码" name="_password">                      
                    </label>                    
                  </div>
                  <div class="cell">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                    {% if app.request.get('_target_path') %} <!--登陆后跳转-->
                    <input type="hidden" name="_target_path" value="{{ app.request.get('_target_path') }}" />
                    {% endif %}
                    <button class="button hollow primary small" type="submit">登陆</button>
                  </div>                 
                </div>
              </form>
              <div class="cell margin-bottom-3">
                <a class="float-right" href="{{ path('register') }}">没有账号，请先注册</a>
                <a class="float-left" href="{{ path('find_password') }}">忘记密码</a>
              </div>
            </div>
      </div>
    </div>
    
</div>
{% endblock %}
{% block footer %}{% endblock %}