{% extends 'home/common.html.twig' %}
{% block title %}话题讨论-话题列表{% endblock %}
{% block banner %}
    <div class="grid-x">
        <div class="cell">
            <div class="callout large primary">
                <div class="text-center">
                  <h1>话题讨论</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block breadcrumb %}
          <div class="grid-x">
              <nav aria-label="You are here:" role="navigation">
                  <ul class="breadcrumbs">
                    <li><a href="{{ path('home') }}">首页</a></li>
                    <li><a href="{{ path('topic_index') }}">话题讨论</a></li>                    
                    <li>
                      <span class="show-for-sr">Current: </span> 话题列表
                    </li>
                  </ul>
              </nav>  
          </div>
          {% endblock %}
    {% block main %}
          <div class="cell margin-top-1"> 
            {% for article in pagination %}
            <div class="grid-x shadow padding-1 margin-top-1">
                <div class="cell large-1">
                <p>
                    <a href="{{ path('topic_detail',{'id':article.id }) }}"><img src= "{{ article.userid.headimg }}" width="50"></a>
                </p>
                </div>
                <div class="cell large-11">
                    <h4><a href="{{ path('topic_detail',{'id':article.id }) }}">{{ article.title }}</a></h4>
                    <p class="subheader">
                        <a class="margin-right-1"><span><i class="fi-torso"> {{ article.userid.getNickname() }}</i>  </span></a>
                        <a class="margin-right-1" href="{{ path('topic_index',{ 'name':article.category.name }) }}"><span><i class="fi-checkbox"> {{ article.category.name }}</i> </span></a>
                        <a class="margin-right-1"><span><i class="fi-calendar"> {{ article.getCreatedAt()|date('Y-m-d') }}</i></span></a>
                        <a class="margin-right-1"><span><i class="fi-eye"> {{ article.views }} 阅读</i></span> </a>
                        <a class="margin-right-1"><span><i class="fi-comments"> {{ article.getCommentCount() }} 评论</i></span></a>
                    </p>        
                </div>
            </div> 
          {% endfor %}
          </div>
          <div class="cell text-center padding-top-3">
              {{ knp_pagination_render(pagination) }}
          </div>
          
          {% endblock %}
      
  {% block right %}
        <div class="callout">
            <a class="button success hollow small" href="{{ path('topic_create') }}">创建话题</a>
        </div>
        <div class="callout shadow">
          <h6>话题分类</h6>
          {% for category in categorys %}
          <a class="label" href="{{ path('topic_index',{ 'name':category.name}) }}">{{ category.name }}</a>
          {% endfor %}
        </div>
        
        <div class="callout shadow">
          <h6>热门话题</h6>
          <ul class="list-disc">
            {% for topic in topic_hot %}
            <li><a href="{{ path('topic_detail',{'id':topic.id }) }}">{{ topic.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="callout shadow">
            <h6>友情链接</h6>
            <ul class="list-circle">
                <li><a href="http://mashuai.imkxa.com" target="_blank ">我的博客</a></li>               
            </ul>
        </div>
      {% endblock %}